#begin {
  font-size: 40px;
  font-family: 'Lobster', cursive;
  color: #b5a73c;
}
p {
  font-size: 20px;
}
.blogs {
   margin-top: 50px;
}
.blogs li {
  margin-top: 20px;
  font-size: 25px;
}
.blogs__linq {
  color: white;
}
.blogs__linq:hover{
  color: #d1d1d1;
}
