#begin {
  font-size: 40px;
  font-family: 'Lobster', cursive;
  color: #d6c436;
}
p {
  font-size: 20px;
}
.blogs {
   margin-top: 50px;
}
.blogs li {
  margin-top: 20px;
  font-size: 25px;
}
.blogs__linq {
  color: #cfcfcf;
}
.blogs__linq:hover{
  color: #d6c436;
}
