#begin {
  font-size: 40px;
  font-family: 'Lobster', cursive;
  color: #b5a73c;
}
p {
  font-size: 20px;
}
/*Песни*/
.songs{
  margin-top: 50px;
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}
.oglavSongs{
  margin-bottom: 20px;
}
.oglavSongs p {
  text-align: center;
}
.song{
margin-left: 20px;
margin-bottom: 40px;
}
.song p{
  margin-left: 40px;
}
.song audio{
  margin-left: 20px;
}


/*Текста*/
.rapTexts{
  width: 100%;
  height: auto;
}
.oglavTexts{
  margin-bottom: 20px;
}
.oglavTexts p {
    text-align: center;
}
.rapText{
  margin-left: 40px;
  margin-bottom: 40px;
}
.text{
  margin-left: 0;
  padding-left: 0;
}
.text li{
  list-style-type: none;
  margin-bottom: 5px;
}
